* {
	font-family: 'Poppins', sans-serif;
	color: f8f7ff;
}

.animate-left {
	animation: left-in 0.5s ease-in forwards;
	animation-delay: 0.5s;
	opacity: 1;
}

.animate-down {
	animation: down 0.5s ease-in forwards;
	animation-delay: 1s;
	opacity: 0;
}

.btn-primary {
	border-color: #6c63ff;
	background-color: #6c63ff;
	padding: 18px 32px;
	border-radius: 4px;
}

.nav-link {
	color: #f8f7ff;
}

.navbar-transparent .navbar-nav > li > a:hover {
	color: #ff6584;
}

.app-ribbon {
	background: #6c63ff;
}

.small-section {
	height: 50vh;
}

.copyright {
	list-style-type: none;
}

#team-header {
	color: #ff6584;
	font-weight: bold;
}

@keyframes left-in {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes down {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
